.classpath
.settings
.project
target
derby.log
export
gfembed*
sonar
sun-appserv-samples
.externalToolBuilders
maven-eclipse.xml
fluxx-web/src/main/webapp/WEB-INF/lib
fluxx-core/bin
fluxx-web/bin
fluxx-admin/bin
fluxx-web/src/main/webapp/WEB-INF/classes
fluxx-admin/src/main/webapp/WEB-INF/classes
fluxx-admin/src/main/webapp/WEB-INF/lib
.pmd
reports
