.table_header {
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #888;
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-spacing: 0px;
}

.table_row_style_1 {
    font-weight: normal;
    background-color: white;
    color: black;
}

.table_row_style_2 {
    font-weight: normal;
    background-color: #efefef;
    color: black;
}

.error {
    color: red;
    font-weight: bold;
}

#myAutoComplete {
    width:25em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
}